<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title%></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <section class="hero is-medium is-primary is-bold is-fullheight">
      <div class="hero-body top">
        <div class="container has-text-centered">
          <div class="columns is-mobile">
            <div class="column is-9 is-offset-1">
              <h1 class="title">Todo List</h1>
              <div class="container">
                <form action="/create_todo" method="POST">
                  <div class="columns">
                    <div class="column">
                      <p class=" label bd-notification is-info">Todo
                      <div class="control has-icons-left">
                        <input
                          type="text"
                          name="name"
                          class="input"
                          placeholder="Enter todo"
                          required
                        />
                        <div class="icon is-small is-left">
                          <i class="fas fa-list-alt"></i>
                        </div>
                      </div>
                    </p>
                    <div class="columns is-mobile">
                    <div class="column">
                      <p class="label bd-notification is-info">Description
                      <div class="control">
                        <input
                          type="text"
                          name="description"
                          class="input"
                          placeholder="Enter description about todo"
                          required
                        />
                      </div>
                    </p>
                    </div>
                    <div class="column">
                      <p class="label bd-notification is-info">Category
                      <div class="control has-icons-left">
                        <div class="select is-warning">
                          <select name="select">
                            <option value="Personal">Personal</option>
                            <option value="Work">Work</option>
                            <option value="School">School</option>
                            <option value="Cleaning">Cleaning</option>
                          </select>
                        </div>
                        <div class="icon is-small is-left">
                          <i class="fas fa-tag"></i>
                        </div>
                      </div>
                      
                    </p>
                  </div>
                    </div>
                  </div>


                  
                    <div class="field">
                      <div class="column">
                        
                        <label class="label">Due Date</label>
                        <div class="control has-icons-left">
                        <input class="input" type="date" name="date" required />
                        <div class="icon is-small is-left">
                          <i class="fas fa-calendar"></i>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="field">
                      <div class="column">
                        <label class="label">Create Todo</label>
                        <!-- <button type="submit" class="button is-link   ">
                          Add Todo
                        </button> -->
                        <button class="button is-link">
                          <span class="icon is-small">
                            <i class="fas fa-plus-square"></i>
                          </span>
                          <span>Add Todo</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
                <br/>
                <ul>
                  <article class="message is-success">
                    <% for(let i of todo_list) {%>
                    <li>
                      <div class="message-header">
                        <p><%= i.name %></p>
                        <div class="tags has-addons are-medium">
                          <span class="tag is-small">Category</span>
                          <span class="tag is-warning is-small"
                            ><%=i.category%>
                          </span>
                        </div>
                        <a
                          href="/delete_todo/?id=<%=i._id%>"
                          class="delete"
                          aria-label="delete"
                        ></a>
                      </div>
                      <div class="message-body">
                        <%= i.description %>

                        <div class="notification is-danger is-light">
                          <span class="tag is-danger">
                            <i class="fas fa-calendar-times"></i>
                            <p style="padding-left: 10px;">Due</p>

                          </span>
                          <%= i.date %>
                        </div>
                      </div>
                    </li>
                    <% } %>
                    <hr />
                    
                  </article>
                </br>
                
                </ul>
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
